.left-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 220px;
    background: #2A7B9B;
    background: linear-gradient(360deg,#222a35 86%, 
    #fec000 86%, #fec000 100%);
    box-sizing: border-box;
    padding: 24px 32px;
    justify-content: flex-start;
    gap: 38px;
}

.left-container h4 {
    font-size: 12pt;
    margin-top: 0px;
    margin-bottom: 2px;
    color: #fec000;
}

.left-container h5 {
    margin: 0px;
    font-size: 10pt;
    margin-left: 5px;
}

.left-container p {
    color: white;
    font-size: 9pt;
    margin: 0px 0px 0px 8px;
}


.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon {
    width: 150px;
    height: auto;
    border: 5px #fec000 solid;
    border-radius: 50%;
}

.left-container img:not(.icon) {
    width: 30px;
    height: 30px;
    background-color: #fec000;
    padding: 5px;
    border-radius: 50%;
    box-sizing: border-box;
}

.left-content-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 20px;
}

.left-title-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-left: 5px;
}

.left-container .icon-title-wrapper {
    display: flex;
    flex-direction: row;
}

.left-container .divider-base {
    height: 2px;
    width: 100%;
    background-color: #2f3646;
    border-radius: 500px;
}

.left-container .divider-top {
    width: 30px;
    height: 100%;
    background-color: #fec000;
    border-radius: 500px
}

.contact-text-wrapper{
    display: flex;
    flex-direction: column;
    font-weight: 100;
    gap: 10px;
}

.skill-bar-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-weight: 100;
}

.skill-bar-base {
    height: 4px;
    width: 70px;
    border-radius: 50px;
    background-color: #2f3646;
}

.skill-bar-top {
    height: 4px;
    border-radius: 50px;
    background-color: #fec000;
}

.skill-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.interests-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}