.right-container h4 {
    font-size: 12pt;
    margin-top: 0px;
    margin-bottom: 2px;
}

.right-container h5 {
    margin: 0px;
    font-size: 10pt;
    margin-left: 5px;
}

.right-container p {
    font-size: 9pt;
    margin: 0px 0px 0px 5px
}

.right-container {
    display: flex;
    width: 300px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    margin-top: 30px;
}

.right-content-container {
    display: flex;
    width: 100%;
    margin-left: 24px;
    flex-direction: column;
    gap: 20px;
}

.icon-title-wrapper {
    display: flex;
    flex-direction: row;
}

.right-title-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-left: 5px;
}

.right-container img {
    width: 30px;
    height: 30px;
    background-color: #fec000;
    padding: 5px;
    border-radius: 50%;
    box-sizing: border-box;
}

.right-container .divider-base {
    height: 2px;
    width: 100%;
    background-color: grey;
    border-radius: 500px;
}

.right-container .divider-top {
    width: 30px;
    height: 100%;
    background-color: #fec000;
    border-radius: 500px
}